:host {
  background: #663399;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
  padding: 2rem;
  color: #f0f8ff;
}

.logo {
  text-decoration: none;
}

.controls {
  display: flex;
  line-height: 2rem;
  /* align-items: center; */
  /* width: 7rem; */
  /* justify-content: space-between; */
}

.userName {
  margin-right: 1rem;
}
