html
  head
    title='Error'
    style
      include error.css
  body
    div(class = 'errorWrapper')
      div(class = 'error')
        h1= 'Sorry, something went wrong'
        p='Details: ' + message