<figure class='card'>
  <!-- <div class='posterWrapper'> -->
  <img src="https://www.aljazeera.com/mritems/Images/2020/1/19/8082c3325b9e42e582eecb854d44473c_18.jpg" alt=""
    class='thumbnail' title="" />
  <!-- </div> -->
  <figcaption className='caption'>
    <span class="title"></span>
    <p class="description"></p>
    <p class="date"></p>
    <a href="">Read more...</a>
  </figcaption>
</figure>
<div class="controls">
  <app-button caption="Edit"></app-button>
  <app-button caption="Delete"></app-button>
</div>
