<figure class='card'>
  <!-- <div class='posterWrapper'> -->
  <img src={{data.urlToImage}} alt={{data.title}}
    class='thumbnail' title={{data.title}} />
  <!-- </div> -->
  <figcaption className='caption'>
    <span class="title">{{data.title}}</span>
    <p class="description">{{data.description}}</p>
    <p class="date">{{data.publishedAt}}</p>
    <a href="">Read more...</a>
  </figcaption>
</figure>
<div class="controls">
  <app-button caption="Edit"></app-button>
  <app-button caption="Delete"></app-button>
</div>
