.sourceInputWrapper {
    width: 80%;
    max-width: 50rem;
    margin: 5rem 0 3rem;
}

.sourceInput {
    padding: 0 1rem;
    outline: none;
    width: 100%;
    border: .05rem solid #808080;
    height: 2rem;
    box-sizing: border-box;
}

.sourceInput:focus {
    box-shadow: 0 0 .3rem #ff6347;
}
