:host {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  box-shadow: 0 0 5px 3px #cccccc;
}

.card {
  display: flex;
  margin: 0;
}

.caption {
  padding: 1rem 2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.thumbnail {
  max-height: 15rem;
  min-height: 15rem;
  min-width: 25rem;
  max-width: 25rem;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2rem;
  align-items: flex-end;
}

.button {
  width: 7rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}
