.sourceItem {
    display: grid;
    grid-template-columns: 5fr 15fr 65fr 5fr;
    grid-column-gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.sourceItem:hover {
    box-shadow: 0 0 .3rem;
}
.show {
    display: grid;
}
.hide {
    display: none;
}

@media (max-width: 35rem) {
    .sourceItem {
        grid-template-columns: 5fr 15fr 70fr;
    }
    .sourceItemCategory {
        display: none;
    }
}   
