.articleList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 90%;
    max-width: 85rem;
    padding: 0;
}

@media (max-width: 35rem) {
    .articleList {
        grid-template-columns: 1fr;
    }
}   
