html
  head
    title='Login'
    style
      include ../common/form.css
  body
    form(action='/login' method='post' class='form')
      div
        label(class='formField')='Username'
          input(type='text' name='username')
      div
        label(class='formField')='Password'
          input(type='password' name='password')
      div
        input(type='submit' value='Log In')
        a(href='/login/facebook' class='link')='Login with Facebook'
