.button {
  width: 100%;
  height: 100%;
  background: #4b1b7b;
  border: none;
  color: #f0f8ff;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 1px 1px #4b1b7b;
}

.button[disabled] {
  background-color: #cccccc;
  box-shadow: none;
}
