.sourceInputWrapper {
    position: relative;
    display: flex;
    width: 80vw;
    height: 2rem;
    max-width: 50rem;
    margin: 9vh 0 5vh;
    border: 1px solid #808080;
}
.sourceInput {
    width: calc(100% - 2rem);
    padding: 0 1rem;
    border: none;
    outline: none;
}
.expandButton {
    display: flex;
    width: 2rem;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #808080;
    cursor: pointer;
}
.active {
    box-shadow: 0 0 5px #ff6347;
}
