.header {
  height: 400px;
  position: relative;
}

.promo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../../assets/images/promo.jpg') no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.promo::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.75;
}

.headerContent {
  position: relative;
  padding: 10px 50px;
}

.headerContentInner {
  padding: 10px 70px;
}

.slogan {
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
}
