.articleItemWrapper {
    display: grid;
    padding: 1rem;
    box-shadow: .3rem .3rem .5rem;
}
.articleItemImageWrapper {
    display: block;
    position: relative;
    padding-bottom: 56%;
    overflow: hidden;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.05) 92%,rgba(0,0,0,0) 100%);
}
.articleItemImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articleItemTitle {
    margin: .5rem 0;
    font-weight: 700;
    font-size: 1.2rem;
}
.articleItemAuthor, .articleItemDate {
    padding: .5rem;
    font-size: .8rem;
    color: #777777;
}
.articleItemDate {
    text-align: end;
}
