<main class="container">
  <article *ngIf="!message" class="article">
    <img src="{{article.urlToImage || 'assets/placeholder-img.jpg'}}" alt={{article.title}} class="thumbnail" title={{article.title}} />
    <content class="content">
      <h3 class="title">{{article.title}}</h3>
      <div class="description">{{article.description}}</div>
      <p class="date">{{article.publishedAt | date: 'dd/MM/yyyy'}}</p>
      <p class="author">{{article.author}}</p>
    </content>
    <div *ngIf="isLocal" class="controls">
      <app-button class="button" caption="Edit" (click)="edit()"></app-button>
      <app-button class="button" caption="Delete" (click)="delete()"></app-button>
    </div>
  </article>
  <div *ngIf="message">
    {{message}}
    <app-button [routerLink]="['/']" caption="Home"></app-button>
  </div>
</main>
