<article class="article">
  <header class="thumbnailWrapper"
    href="http://www.aljazeera.com/news/2020/01/lebanon-anti-government-protests-turn-violent-beirut-200118160101017.html">
    <img class="thumbnail"
      src="https://www.aljazeera.com/mritems/Images/2020/1/19/8082c3325b9e42e582eecb854d44473c_18.jpg"
      alt="Scores wounded as Lebanon's anti-gov't protests turn violent"
      title="Scores wounded as Lebanon's anti-gov't protests turn violent">
</header>
<main>
  <h3 class="title">Scores wounded as Lebanon's anti-gov't protests turn violent</h3>
  <div class="description">Police use tear gas, water cannon to disperse Beirut protesters who say they are tired of
    waiting for change.</div>
  <div class="date">Sat Jan 18 2020</div>
  <a class="author">Al Jazeera</a>
</main>
<footer>
  <app-button caption="Edit"></app-button>
  <app-button caption="Delete"></app-button>
</footer>
</article>
