:host {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
  width: 1360px;
  margin: 0 auto;
  padding: 0 2rem;
}
